body {
  background: rgb(25, 25, 25);
  color: rgb(200, 200, 200);
}

.home-title {
  text-align: center;
}

.tutorial-container {
  margin-top: 5px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 5px;
  color: rgb(200, 200, 200);
  padding: 1px;
  list-style-type: none;
}

.tutorial-box {
  background: rgb(50, 50, 50);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.tutorial-title {
  text-align: center;
  margin-bottom: 0px;
}

.tutorial-content {
  list-style-type: none;
  padding: 1px;
}

.tutorial-image-container {
  list-style-type: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.content-text {
  text-align: center;
}

.small-text {
  font-size: 2px;
}

.note-link {
  color: rgb(200, 200, 200);
  text-decoration: none;
}
